<div  class="post-container">
  <div class="column create-post-column">
    <button mat-raised-button *ngIf="isLoggedIn" (click)="openCreatePostModal()" class="post-btn">
      Add Post
    </button>
  </div>  
  <div class="column posts-column">    
    <div class="posts-list" itemSize="300">
      <ng-container *ngFor="let post of posts; let i = index">
        <a [routerLink]="['/post', post.id]" style="display: block;"> <!-- Ensures the entire card is clickable -->
          <mat-card class="post-card">
            <mat-card-header>
              <mat-card-title class="post-title">{{ post.title }}</mat-card-title>              
            </mat-card-header>
            <mat-card-content>
              <p class="post-body">{{ post.body }}</p>
              <mat-card-subtitle class="posted-by">Posted by: <span class="posted-by-name">{{ post.userId }}</span></mat-card-subtitle>
            </mat-card-content>                       
          </mat-card>
        </a>
      </ng-container>
    </div>
  </div>
  <div class="column empty-column"></div>
</div>