<mat-toolbar class="navbar">
  <img src="https://static.wixstatic.com/media/5498a7_e244a516efbc4d5390a6490776a22ed3~mv2.png" alt="Logo" class="navbar-logo">
  <span class="spacer"></span>

  <ng-container *ngIf="!(auth.isAuthenticated$ | async); else loggedIn">
    <button mat-button (click)="login()">Login</button>
    <button mat-raised-button (click)="signup()" class="signup-button">Sign Up</button>
  </ng-container>

  <ng-template #loggedIn>
    <button mat-button [matMenuTriggerFor]="profileMenu">
      <img *ngIf="user?.picture" [src]="user?.picture" alt="Profile" class="profile-photo">
      <span class="profile-name">{{ user?.name }}</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>